<div class="menu-cursos-info">
    <h2>Gestión de Cursos</h2>
    <p>
        En este apartado podrás realizar el manejo de cursos disponibles en la plataforma. 
        Aquí podrás agregar nuevos cursos, eliminar los existentes, modificarlos y ver una lista de todos los cursos registrados.
    </p>
    <ul>
        <li><a routerLink="./agregar">Agregar cursos</a></li>
        <li><a routerLink="./eliminar">Eliminar cursos</a></li>
        <li><a routerLink="./modificar">Modificar cursos</a></li>
        <li><a routerLink="./listar">Listar cursos</a></li>
    </ul>
</div>