<footer style="color: #444444">
  <p>
    Calle 4 No. 10-30, Tuluá, Valle del Cauca<br>
    Tel: (602) 224 2202<br>
    Email: <a href="mailto:contacto@uceva.edu.co">contacto&#64;uceva.edu.co</a>
  </p>

  <div class="social-icons">
    <i class="fas fa-envelope"></i>
    <i class="fab fa-youtube"></i>
    <i class="fab fa-linkedin"></i>
    <i class="fab fa-x-twitter"></i>
    <i class="fab fa-tiktok"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook"></i>
  </div>

  <p>
    © 2025 UCEVA – Todos los derechos reservados ·
    <a href="#">Política de privacidad</a> ·
    <a href="#">Términos de uso</a>
  </p>
</footer>
