<div class="container mt-4">
  <div class="card custom-card">
    <div class="card-header d-flex justify-content-between align-items-center custom-header">
      <h4 class="m-0">OVAs</h4>
    </div>

    <div class="card-body p-0">
      <div class="d-flex justify-content-between align-items-center p-2 bg-light">
        <span class="fw-bold">OVAs Registrados</span>
        <button class="btn btn-outline-dark btn-sm" (click)="addOva()">
          <i class="fas fa-plus me-1"></i> Añadir OVA
        </button>
      </div>

      @if (ovaArr?.ovas?.length) {
        @for (ova of ovaArr.ovas; track ova.id) {
          <div class="p-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <div class="ms-4">{{ ova.nombre }}</div>
              <div>
                <button class="btn btn-success btn-sm me-2" (click)="editOva(ova)">
                  <i class="fas fa-pen-to-square me-1"></i> Editar
                </button>
                <button class="btn btn-danger btn-sm" (click)="confirmDelete(ova)">
                  <i class="fas fa-trash-alt me-1"></i> Eliminar
                </button>
              </div>
            </div>
          </div>
        }
      } @else {
        <div class="p-3 text-center text-muted">
          No hay OVAs registrados
        </div>
      }
    </div>
  </div>
</div>
